language: python
sudo: required
dist: trusty

addons:
  apt:
    packages:
      - xvfb
      - pyqt4.qsci-dev
      - pyqt5.qsci-dev
      - python-pyside
      - python3-pyqt4
      - python3-pyqt4.qsci-dev
      - python3-pyqt5.qsci-dev
      - python3-pyside

python:
  - "2.7"
  - "3.4"

virtualenv:
  system_site_packages: true

matrix:
  exclude:
    - env: PYTEST_QT_API=pyqt5
      python: "2.7"

env:
 - PYTEST_QT_API=pyqt4
 - PYTEST_QT_API=pyqt4v2
 - PYTEST_QT_API=pyside
 - PYTEST_QT_API=pyqt5

install:
 # PyTest
 - pip install -U pytest

 # others
 - pip install coveralls --use-wheel

script:
 - python setup.py develop
 - catchsegv xvfb-run coverage run --source=pytestqt setup.py test

after_success:
 - coveralls
